@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
/*font-family: 'Outfit', sans-serif;*/

.Home{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 10;
    justify-content: center;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px;
    width: 90%;
    border-radius: 10px;
    background-color:rgb(231, 246, 252, .5);
}

.Home h1{
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 5px 1px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
    color: rgb(1, 102, 133);
    border-color: black;
}

.Home h2{
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
}

.Home h3{
    font-family: 'Outfit', sans-serif;
}

.Home p{
    font-family: 'Outfit', sans-serif;
}

.Home button{
    margin: 5px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px;
    color: black;
}

.Home button:hover{
    color: rgb(1, 102, 133);
    cursor: pointer;
}

img{
    width: 100px;
    height: 100px;
}

.SkillTile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SkillTile p{
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
}

.RecipeTile{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RecipeTile h2{
    margin-bottom: 30px;
}

.RecipeTile img{
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
}

.MappedRecipes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SkillTileP{
    border-bottom: solid;
    padding-bottom: 20px;
}